<p>Velkomin(n) {{fullName}}.</p>
<div class="alert alert-info" ng-cloak ng-show="infoMessage != ''">
	<span class="glyphicon glyphicon-info-sign"></span>    {{infoMessage}}
</div>

<div class="well well-sm" ng-repeat="evaluation in evaluationsS | orderBy : '-ID' : reverse" ng-show="role !== 'admin'">
	<a href="#/evaluation/{{evaluation.Semester}}/{{evaluation.CourseID}}/{{evaluation.ID}}">
		<div class="studentEvaluationLink">
			<span>
				{{evaluation.TemplateName}}
			</span>
			<div class="evaluationsTemplateName">
				{{evaluation.CourseID}} - {{evaluation.CourseName}}
			</div>
		</div>
	</a>
</div>

<div id="admin-evaluation-well" class="well" ng-repeat="evaluation in evaluationsA | orderBy : '-ID' : reverse" ng-show="role === 'admin'">
	<a href="#/evaluation/{{evaluation.ID}}">
		<div class="row">
			<div id="admin-evaluation-well-name" class="col-xs-6">
				<span class="glyphicon glyphicon-certificate" ng-show="evaluation.Status === 'new'"style="color:blue;"></span>
				<span class="glyphicon glyphicon-certificate" ng-show="evaluation.Status === 'open'" style="color:green;"></span>
				<span class="glyphicon glyphicon-certificate" ng-show="evaluation.Status === 'closed'" style="color:red;"></span>
				{{evaluation.TemplateTitle}}
			</div>

			<div id="admin-evaluation-well-dates" class="container pull-right">
				<small class="pull-right">Byrjar: {{evaluation.StartDate}}</small>
				<small class="pull-right">Endar: {{evaluation.EndDate}}</small>
			</div>
		</div>
	</a>
</div>