{{question.Text}}
<div ng-show="question.Type === 'text'">
	<textarea rows="7"class="form-control"></textarea>
</div>
<div ng-show="question.Type === 'single'" ng-repeat="radioOption in question.Answers">
	<div class="radio">
		<label>
			<input type="radio" name="{{question.ID}}{{teacher.SSN}}">
			{{radioOption.Text}}
		</label>
	</div>
</div>
<div ng-show="question.Type === 'multiple'">
	<div ng-repeat="checkOption in question.Answers">
		<div class="checkbox">
			<label>
				<input type="checkbox" value="{{question.ID}}{{teacher.SSN}}">
				{{checkOption.Text}}
			</label>
		</div>
	</div>
</div>
<hr/>