<h2>Niðurstöður kennslumats <small>{{evaluation.TemplateTitle}}</small></h2>
<div class="alert alert-info" ng-cloak ng-show="infoMessage != ''">
	<span class="glyphicon glyphicon-info-sign"></span>    {{infoMessage}}
</div>
<div class="class-results" ng-repeat="course in evaluation.Courses">
	<h3>{{course.CourseName}} <small>{{course.CourseID}}</small></h3>
	<hr>
	<div class="panel panel-default">
		<div class="panel-heading">Áfangaspurningar<span ng-if="oquest.TeacherSSN != undefined"></span></div>
		<div class="panel-body">
			<div class="list-group col-md-3" ng-repeat="oquest in course.courseOtherQuestions">
				<div class="panel panel-default">
					<div class="panel-heading">{{oquest.Text}}<span ng-if="oquest.TeacherSSN != undefined"> - {{oquest.TeacherSSN}}</span></div>
					<div class="panel-body">
						<canvas legend="true" options="{animationEasing : 'easeOutQuart'}" id="bla" class="chart chart-pie" data="graphData[oquest.uniqueID]" labels="graphLabels[oquest.uniqueID]"height="325"></canvas>
					</div>
				</div>
			</div>
			<div class="list-group col-md-6" ng-repeat="tquest in course.courseTextQuestions">
				<a href="" class="list-group-item disabled">
					{{tquest.Text}}<span ng-if="tquest.TeacherSSN != undefined"> - {{tquest.TeacherSSN}}</span>
				</a>
				<div href="" class="list-group-item" ng-repeat="tResult in tquest.TextResults track by $index" ng-if="tResult != undefined">{{tResult}}</div>
				<div href="" class="list-group-item noAnswerTextQuestions" ng-if="tquest.TextResults.length === 0">Enginn hefur svarað þessari spurningu.</div>
			</div>
		</div>
	</div>


	<div class="panel panel-default">
		<div class="panel-heading">Kennaraspurningar<span ng-if="oquest.TeacherSSN != undefined"></span></div>
		<div class="panel-body">
			<div ng-repeat="teacher in teachers">
				<h4>{{teacher.FullName}}</h4>
				<div class="list-group col-md-3" ng-repeat="oquest in teacher.otherQ">
					<div class="panel panel-default">
					<div class="panel-heading">{{oquest.Text}}</div>
						<div class="panel-body">
							<canvas legend="true" options="{animationEasing : 'easeOutQuart'}" id="bla" class="chart chart-pie" data="graphData[oquest.uniqueID]" labels="graphLabels[oquest.uniqueID]"height="325"></canvas>
						</div>
					</div>
				</div>
				<div class="list-group col-md-6" ng-repeat="tquest in teacher.textQ">
					<a href="" class="list-group-item disabled">
						{{tquest.Text}}
					</a>
					<div href="" class="list-group-item" ng-repeat="tResult in tquest.TextResults track by $index" ng-if="tResult != undefined">{{tResult}}</div>
					<div href="" class="list-group-item noAnswerTextQuestions" ng-if="tquest.TextResults.length === 0">Enginn hefur svarað þessari spurningu.</div>
				</div>
				<div class="clearfix"></div>
								<hr/>
			</div>
		</div>
	</div>
</div>