<p>Velkomin(n) {{fullName}}.</p>

<button type="button" class="btn btn-primary" ng-click="createTemplate()">Nýtt sniðmát</button>

<div class="alert alert-info" ng-cloak ng-show="infoMessage != ''">
	<span class="glyphicon glyphicon-info-sign"></span>    {{infoMessage}}
</div>

<div class="well" ng-repeat="template in templates">
	<div class="row">
		<span> {{template.ID}} {{template.Title}} ({{template.TitleEN}})</span>
		<p>Byrjunardagsetning: <input type="text" id="beginDatepicker"></p>
		<p><input type="date" name="bday">
		<button type="button" class="pull-right btn btn-primary" ng-click="makeEvaluation('{{template.ID}}')">Búa til kennslumat</button>
	</div>
</div>