<p>Velkomin(n) {{fullName}}.</p>

<button type="button" class="btn btn-primary" ng-click="createTemplate()">Nýtt sniðmát</button>

<div class="alert alert-info" ng-cloak ng-show="infoMessage != ''">
	<span class="glyphicon glyphicon-info-sign"></span>    {{infoMessage}}
</div>

<div class="well" ng-repeat="template in templates | orderBy : '-ID' : reverse">
	<div class="row sidePadding">
		{{template.ID}}
		<a href="#/template/{{template.ID}}"> {{template.Title}} ({{template.TitleEN}})</a>
		<br>
		<form ng-submit="makeEvaluation(template.ID, openDate, closeDate)">
			<label for="openingDate">Opnunardags:</label>
			<input type="date" id="openingDate" name="openingDate" class="dateBox" ng-model="openDate"></input>
			<label for="closingDate">Lokunardags:</label>
			<input type="date" id="closingDate" name="closingDate" class="dateBox" ng-model="closeDate"></input>
			<button type="submit" class="btn btn-primary green">Opna kennslumat</button>
			<div class="alert alert-danger" ng-cloak ng-show="dateMessage !== '' && currentID === template.ID">
				<span class="glyphicon glyphicon-exclamation-sign"></span>    {{dateMessage}}
			</div>
		</form>
	</div>
</div>