<h2 ng-show="template.ID">{{template.Title}}.</h2>
<h2 ng-show="!template.ID">Nýtt Sniðmát.</h2>

<div class="form-group">
	<form name="templateForm">
		<label for="templateTitle" class="control-label">Titill sniðmáts</label>
		<input type="text" class="form-control" id="templateTitle" name="templateTitle" ng-model="template.Title" placeholder="" required/>
		<label for="templateTitleEN" class="control-label">Titill sniðmáts á ensku</label>
		<input type="text" class="form-control" id="templateTitleEN" name="templateTitleEN" ng-model="template.TitleEN" placeholder="" required/>
		<label for="templateIntro" class="control-label">Kynningartexti sniðmáts</label>
		<textarea class="form-control" id="templateIntro" name="templateIntro" ng-model="template.IntroText" required></textarea>
		<label for="templateIntroEN" class="control-label">Kynningartexti sniðmáts á ensku</label>
		<textarea class="form-control" id="templateIntroEN" name="templateIntroEN" ng-model="template.IntroTextEN" required><textarea/>

		<div class="col-md-6">
			<h4>Námskeiðsspurningar</h4>
			<div ng-repeat="question in template.CourseQuestions">
				<label for="questionText" class="control-label">Texti spurningar á íslensku</label>
				<textarea class="form-control" id="questionText" name="questionText" ng-model="question.Text" placeholder="{{question.Text}}"></textarea>
				<label for="questionTextEN" class="control-label">Texti spurningar á ensku</label>
				<textarea class="form-control" id="questionTextEN" name="questionTextEN" ng-model="question.TextEN" placeholder="{{question.textEN}}"></textarea>
				<label for="URL" class="control-label">Mynd (URL)</label>
				<input type="text" class="form-control" id="URL" name="URL" ng-model="question.ImageURL"></input>
				<label for="type">Tegund spurningar</label> 
				<div ng-repeat="option in options">
					<input type="radio" value="{{option}}" name="type" ng-model="question.Type"> {{option}}
				</div>
				
				<div ng-show="question.Type !== 'skrifleg'" ng-repeat="answer in question.Answers">
					<label for="answerText" class="control-label">Svarmöguleiki á íslensku</label>
					<textarea class="form-control" id="answerText" name="answerText" ng-model="answer.Text"></textarea>
					<label for="answerTextEN" class="control-label">Svarmöguleiki á ensku</label>
					<textarea class="form-control" id="answerTextEN" name="answerTextEN" ng-model="answer.TextEN"></textarea>
					<label for="answerURL" class="control-label">Mynd (URL)</label>
					<input type="text" class="form-control" id="answerURL" name="answerURL" ng-model="answer.ImageURL"></input>
					<label for="answerWeight" class="control-label">Vægi</label>
					<select name="answerWeight" ng-model="answer.Weight">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
				</div>
				<button ng-show="question.Type !== 'skrifleg'" type="button" class="btn btn-secondary" ng-click="addChoice('course', question.ID)">+</button>
			</div>
			<button type="button" class="btn btn-primary" ng-click="addQuestion('course')">Bæta við spurningu</button>
		</div>
		<div class="col-md-6">
			<h4>Kennaraspurningar</h4>
			<div ng-repeat="question in template.TeacherQuestions">
				<label for="questionText" class="control-label">Texti spurningar á íslensku</label>
				<textarea class="form-control" id="questionText" name="questionText" ng-model="question.Text" placeholder="{{question.Text}}"></textarea>
				<label for="questionTextEN" class="control-label">Texti spurningar á ensku</label>
				<textarea class="form-control" id="questionTextEN" name="questionTextEN" ng-model="question.TextEN" placeholder="{{question.textEN}}"></textarea>
				<label for="URL" class="control-label">Mynd (URL)</label>
				<input type="text" class="form-control" id="URL" name="URL" ng-model="question.ImageURL"></input>
				<label for="type">Tegund spurningar</label> 
				<div ng-repeat="option in options">
					<input type="radio" value="{{option}}" name="type" ng-model="question.Type"> {{option}}
				</div>
				
				<div ng-show="question.Type !== 'skrifleg'" ng-repeat="answer in question.Answers">
					<label for="answerText" class="control-label">Svarmöguleiki á íslensku</label>
					<textarea class="form-control" id="answerText" name="answerText" ng-model="answer.Text"></textarea>
					<label for="answerTextEN" class="control-label">Svarmöguleiki á ensku</label>
					<textarea class="form-control" id="answerTextEN" name="answerTextEN" ng-model="answer.TextEN"></textarea>
					<label for="answerURL" class="control-label">Mynd (URL)</label>
					<input type="text" class="form-control" id="answerURL" name="answerURL" ng-model="answer.ImageURL"></input>
					<label for="answerWeight" class="control-label">Vægi</label>
					<select name="answerWeight" ng-model="answer.Weight">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
				</div>
				<button ng-show="question.Type !== 'skrifleg'" type="button" class="btn btn-secondary" ng-click="addChoice('teacher', question.ID)">+</button>
			</div>
			<button type="button" class="btn btn-primary" ng-click="addQuestion('teacher')">Bæta við spurningu</button>
		</div>
	</form>
</div>