* {
	font-family: "consolas";
}

#chatBody {
	background-color: #888888;
}
#users-in-room-list {
	margin-top:10px;
	list-style-type: none;
}

#users-in-room-list li {
	margin-bottom:8px;
	margin-left:-20px;
}

#users-in-room-buttons {
	margin-right:20px;
}
.usersInRoomButtons {
	margin-top:-5px;
	margin-left:10px;
}

#users-in-room-list-container {
	margin-top:-39px;
}

.btn.btn-primary {
	margin-top: 10px;
	margin-bottom: 10px;
}
.main-view {
	padding-top:70px;
}

.panel-heading {
	text-align: center;
}

#login-password {
	margin-top:20px;
}

.validationLabel {
	color:red;
}

#login-error-message {
	margin-top:10px;
}

.evaluationsTemplateName {
	font-size:18px;
}

.studentEvaluationLink {
	text-decoration: none;
}

#admin-evaluation-well {
	padding:10px;
}

#admin-evaluation-well-dates {
	width:200px;
}

#admin-evaluation-well-name {
}

.noAnswerTextQuestions {
	font-style: italic;
}

.questionBox {
	border: solid 2px gray;
	padding: 5px;
	margin-top: 5px;
}

.answerBox {
	border: solid 2px rosybrown;
	padding: 5px;
	margin-top: 5px;
}