* {
	font-family: "consolas";
}

#chatBody {
	background-color: #888888;
}
#users-in-room-list {
	margin-top:10px;
	list-style-type: none;
}

#users-in-room-list li {
	margin-bottom:8px;
	margin-left:-20px;
}

#users-in-room-buttons {
	margin-right:20px;
}
.usersInRoomButtons {
	margin-top:-5px;
	margin-left:10px;
}

#users-in-room-list-container {
	margin-top:-39px;
}

.btn.btn-primary {
	margin-top: 10px;
	margin-bottom: 10px;
}